<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Hobby</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Photography</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <div style="text-align: center">
  <a href="https://photo.tanapol.dev">
  <img src="https://pro2-bar-s3-cdn-cf1.myportfolio.com/945cf92748b60379ced722f1f8ce85a5/9d0386f3-392d-4754-986f-a91b31e03739_rw_1920.jpg?h=2bdc977fc5101b3114cfe79258abab4c" width="49%" height="300px">
  </a>
  <a href="https://photo.tanapol.dev">
    <img src="https://pro2-bar-s3-cdn-cf3.myportfolio.com/945cf92748b60379ced722f1f8ce85a5/e451c244-f3bc-4b80-8f22-356c829d81c1_rw_1920.jpg?h=4f2d41cb27780b609dfd9dc0286fedfb&url=aHR0cHM6Ly9waG90b3MuYWRvYmUuaW8vdjIvY2F0YWxvZ3MvOGYzYjk0NDk3ODk0NDRhZjhhZTNjNzc1N2IzMGY1NGIvYXNzZXRzL2ExY2ExY2JkZWMyMTI2MDJjMGM4N2M3OTBhYmY3N2I5L3JldmlzaW9ucy8wMjY1OTVhNjBlMDA0YTQ4OTMxM2EwYTMzYWE2MzNiZC9yZW5kaXRpb25zLzE2YjI0ZjkzZTBmMzJlOTMxYWU0NzZlYzg1OTZhYzZi" width="49%" height="300px">
  </a>
  <a href="https://photo.tanapol.dev" style="font-size: 20px">My photography portfolio</a>
  </div>
</div>
